<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/util/css/reset.css">
    <!-- Bootstrap CSS -->
    <div class="import-bootstrap">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    </div>
    <link rel="stylesheet" href="/util/css/login.css">
    <title>Login</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row justify-content-center mt-5">
            <section class="col-12 col-sm-6 col-md-5 mt-5">
                <form id="login-ws" action="/views/pages/index/index.html" onsubmit="">
                    <h1 class="text-center">Login</h1>

                    <div class="text-center mt-3 mb-5">
                        <img class="img-fluid" id="icon-ws" src="/util/imgs/logo/logo.png" alt="logo work station">
                    </div>

                    <div class="form-floating my-3">
                        <input type="email" class="form-control" name="email" id="email" placeholder="Email...">
                        <label for="email">Email:</label>
                    </div>

                    <div class="form-floating my-3">
                        <input class="form-control" type="password" name="password" id="password" placeholder="Senha...">
                        <label for="password">Senha:</label>
                    </div>
                    
                    <div class="text-center">
                        <button class="btn btn-lg pe-5 ps-5 btn-secondary text-light">Logar</button>
                    </div>

                    <div class="my-3">
                        <p>Ainda não possuí cadastro? <a class="link-primary" href="/views/pages/register/register.html">Registrar-se</a></p>
                    </div>
                </form>
            </section>
        </div>
    </div>
    <!-- Bootstrap JS -->
    <div class="import-bootstrap">
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    </div>

    <!-- My Scripts -->
    <div class="my-scripts">
        <script src="/app/pages/login/js/login.js"></script>
    </div>
</body>
</html>