@import url('https://fonts.cdnfonts.com/css/helvetica-2');

body {
    font-family: Helvetica, sans-serif;
}

.form-control {
    border: solid 2px #d3d3d3;
}

.form-control:focus {
    box-shadow: none;
    border-color: #FFCD4D;
}

.form-control-sm {
    border: 0;
    border-radius: 0;
    border-bottom: solid 1px #d3d3d3;
}

.form-control-sm:focus {
    border-color: #DAA520;
}

.global-border {
    border-bottom: solid 3px #FFCD4D;
}

.global-navbar {
    background-color: rgb(238, 238, 238);
}

.global-pills {
    background-color: rgb(238, 238, 238);
}

.global-footer {
    background-color: #FFCD4D;
}

.global-btn {
    padding: 0.5rem 3rem;
    font-size: 1.5rem;
    background-color: #FFCD4D;
    color: #292929;
}

.global-btn:hover, .global-btn:active {
    background-color: #daa520;
    font-weight: bold;
    color: #000000;
}

.global-btn#login {
    top: 75%;
}

.global-link {
    color: #292929;
}

.global-link:hover, .global-link:active, .nav-pills .global-link.active, .dropdown-toggle.show {
    border-radius: 2px;
    background-color: rgba(237, 171, 0, 0.22);
    font-weight: bold;
    color: #000000;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-item:hover {
    background-color: #FFCD4D;
    color: #000000;
}

.home-file {
    margin: 0;
    cursor: pointer;
    font-size: 64px;
    font-style: oblique;
    color: gray;
    transition: 0.5s;
}

.home-file:hover {
    color: black;
}
