.login-bg {
    background-image: url(../imgs/background1.png);
    background-position: center;
    background-repeat: no-repeat;
}

.login-nav {
    border-bottom: solid 2px;
    border-color: #FFCD4D;
}

.login {
    background-color: white;
    border-radius: 9px;
    padding: 30px;
    box-shadow: 0px 0px 30px 0px #aaaaaa;
}

.login-font {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #FFCD4D;
    -webkit-text-stroke: 0.5px #FFCD4D;
}

.login-btn {
    background-color: #FFCD4D;
    color: #ffffff;
}

.login-btn:hover, .login-btn:active {
    background-color: #fdd87b;
    color: #181818;
}