.register-bg {
    background-image: url(../imgs/background2.png);
    background-position: center;
    background-repeat: no-repeat;
}

.register-section {
    background-color: #f5f5f5;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    padding: 30px 30px 8.3rem 10px;
    box-shadow: 1px 0px 6px 0px #aaaaaa;
}

.register-btn {
    background-color: #FFCD4D;
    color: #ffffff;
}

.register-btn:hover, .register-btn:active {
    background-color: #fdd87b;
    color: #181818;
}