.bg-custom {
    padding-top: 6rem;
    background-color: rgba(192, 192, 192, 0.753);
    backdrop-filter: blur(10px);
}

.bg-blur {
    background-image: url(/img/background.png);
    background-size: cover;
    filter: blur(10px);
  }
  

#ws-pagination{
    background-color: rgb(238, 238, 238);
}

.navbar-divider {
    background-color: #ffffff;
    border-top: 1px solid #b1b1b1;
    margin: 0 20px;
}
  

.navbar-custom {
    background-color: rgb(238, 238, 238);
}

.custom-link {
    color: #000000;
}

.nav-pills .custom-link.dropdown-toggle:active {
    color: #ffffff;
}


.custom-link:hover {
    border-radius: 2px;
    background-color: rgba(237, 171, 0, 0.22);
    color: #ffffff;
}

.nav-pills .custom-link.active {
    background: rgba(237, 171, 0, 0.22);
    border-radius: 2px;
}


.bi-caret-down-square {
    font-size: 1rem;
    color: #000000;
}

.bi-caret-down-square:hover {
    color: #ffffff;
}

.bi-gear {
    font-size: 1rem;
    color: #000000;
}

.nav-link.dropdown-toggle::after {
    display: none;
    background-image: none;
}

button.btn {
    top: 75%;
}

footer.bg-color {
    background-color: #FFCD4D;
}

.dropdown-item:hover {
    background-color: #FFCD4D;
    color: #ffffff;
}

.dropdown-item#exit:hover {
    background-color: red;
    color: #ffffff;
}

.btn-custom {
    padding: 0.5rem 3rem;
    font-size: 1.5rem;
}

.btn-yellow-20 {
    background-color: #FFCD4D;
    color: #ffffff;
}

.btn-yellow-20:hover {
    background-color: #ffd469;
    color: #ffffff;
}

button#login {
    top: 50%;
    left: 20%;
}

#init button {
    top: 72%;
    left: 50%;
}

button#register {
    top: 50%;
    left: 50%;
}

input#form-custom:focus, input#form-custom:active {
    box-shadow: inset #ffd469;
}

.row .custom-col {
    padding-bottom: 100%;
}

.input-group .custom-input, .input-group .btn-custom {
    border-radius: 0;
}
