body {
    background-image: url(/util/imgs/backgrounds/background1.png);
    background-repeat: no-repeat;
    background-size:100%;
    bottom: 0;
    left: 0;
    overflow: auto;
    padding: 3em;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
}

#login-ws {
    background-color: white;
    border-radius: 9px;
    padding: 30px;
    box-shadow: 0px 0px 30px 0px #000000;
}