body {
    background-image: url(/util/imgs/backgrounds/background2.png);
    background-repeat: no-repeat;
    /* background-size:100%; */
    /* bottom: 0;
    left: 0;
    overflow: auto;
    padding: 3em;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0; */
}

#section {
    background-color: white;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    padding: 30px 30px 8.3rem 10px;
    box-shadow: 1px 0px 6px 0px grey;
}